USE [master]
GO
/****** Object:  Database [TestData]    Script Date: 8/13/2018 10:11:32 AM ******/
CREATE DATABASE [TestData]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestData]
GO
USE [TestData]
GO
/****** Object:  Table [dbo].[TestDataData]    Script Date: 8/13/2018 10:11:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestData](
	[FileName] [varchar](100) NULL,
	[ServiceAreaCode] [varchar](100) NULL,
	[PhoneNumber] [varchar](100) NULL,
	[Preferences] [varchar](100) NULL,
	[OpsType] [varchar](10) NULL,
	[PhoneType] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
